# Ignore .env file
.env
# Ignore compiled binaries
*.exe
*.dll
*.so

# Ignore build output directories
build/
dist/
out/

# Ignore package manager directories
node_modules/
vendor/
HIC/V3/flagged
HIC/V3/myenv


# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore logs and temporary files
*.log
*.tmp
*.swp